<h5>Top Ten Recipes</h5>
<div class="container">
    {{#each recipes}}
    <div>
        <a id="recipe" href="/recipes/{{this.id}}">{{this.title}}</a>
        <p>Ingredients: {{this.ingredients}}</p>
    </div>
    {{/each}}
</div>