<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe App</title>
    <style>
        #myInput {
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            color: black;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <h1 class="brand-logo center">Recipe App</h1>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/recipes/new">New Recipe</a>
                </li>
                <li>
                    <a href="/user/signup">Signup</a>
                </li>
                <li>
                    <a href="/user/login">Login</a>
                </li>
                <form id="search">
                    <input type="text" id="myInput" placeholder="Search by ingredients">
                </form>
            </ul>
        </div>
    </nav>
    {{{body}}}
    <script src="../../app.js"></script>
</body>

</html>